* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --text-light: white;
    --text-dark: black;
    --standard-spacing: 1rem;
    --thin-border: 1px solid #000;
    --border: 1px solid var(--black);

}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--text-dark);
    text-align: center;
}

/* ---------------------------------------------------------------------------------------
   Class Selectors
------------------------------------------------------------------------------------------ */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f0f8ff;
    color: #333;
}

.profile-img {
    float: right;
    margin-left: 1rem;
    width: 200px;
    border-radius: 8px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.overlay-heading {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    font-weight: bold;
}

aside {
    position: relative;
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}